-
    client = [
        {
            image:"bank-of-america.png"
        },
         {
            image:"godaddy.png"
        },
         {
            image:"norton-small.png"
        },
         {
            image:"trustpilot-logo-color.png"
        },
            {
            image:"bank-of-america.png"
        },
         {
            image:"godaddy.png"
        },
         {
            image:"norton-small.png"
        },
         {
            image:"trustpilot-logo-color.png"
        }
    ],
    content = {
        title:"Lorem Ipsum is simply"
    },
    content_en = {
        title:"Lorem Ipsum is simply"
    },
    content_cn = {
        title:"Lorem Ipsum只是Lorem Ipsum只是Lorem Ipsum只是"
    },
    content_es = {
        title:"Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply"
    },
    content_fr = {
        title:"Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply"
    }
case lang
    when 'en'
        - content = content_en
    when 'es'
        - content = content_es
    when 'fr'
        - content = content_fr    
    when 'cn'
        - content = content_cn
    default
        - content = content

+b.clients.pt_black.pb_brown
    .container
        +e.inner
            +e.title
                h3= content.title
            +e.content
                +b.clientslider.js-clienslider
                    each item in client
                        +e.item
                            img(src="images/logo/"+item.image)
