-
    content = {
        office:[
            {
               title:"Lorem Ipsum is simply dummy",
                content:"Lorem Ipsum is simply dummy</br><span class='icon-phone'>8 (0000) 000-000,</span><br/><span class='icon-fax'>8 (000) 000-0000</span><br/> <a class='icon-email' href='mailto:info@lorem.com'>info@lorem.com</a>"
                },
            {
                title:"Lorem Ipsum is simply dummy",
                content:"Lorem Ipsum is simply dummy</br><span class='icon-phone'>8 (0000) 000-000,</span><br/><span class='icon-fax'>8 (000) 000-0000</span><br/> <a class='icon-email' href='mailto:info@lorem.com'>info@lorem.com</a>"
            }
        ],
        copyright:"Lorem Ipsum is simply 2019"
    },
    content_en = {
        office:[
            {
                title:"Lorem Ipsum is simply dummy",
                content:"Lorem Ipsum is simply dummy</br><span class='icon-phone'>8 (0000) 000-000,</span><br/><span class='icon-fax'>8 (000) 000-0000</span><br/> <a class='icon-email' href='mailto:info@lorem.com'>info@lorem.com</a>"
            },
            {
               title:"Lorem Ipsum is simply dummy",
                content:"Lorem Ipsum is simply dummy</br><span class='icon-phone'>8 (0000) 000-000,</span><br/><span class='icon-fax'>8 (000) 000-0000</span><br/> <a class='icon-email' href='mailto:info@lorem.com'>info@lorem.com</a>"
            }
        ],
        copyright:"Lorem Ipsum is simply 2019"
    }

case lang
    when 'en'
        - content = content_en
    when 'es'
        - content = content_en
    when 'fr'
        - content = content_en    
    when 'cn'
        - content = content_en
    default
        - content = content

+b.FOOTER.footer.pt_black.pb_lilac
    .container
        +e.inner
            +e.belt_top.mrgb_peach
                +e.logo
                    img(src="images/logo/shopper.svg")
            +e.belt_bottom.pb_lilac
                each item in content.office
                    +e.item                    
                        +e.title.p1.mrgb_peach
                            p= item.title
                        +e.content.p4
                            p!= item.content               
                +e.item                    
                    +e.content 
                        +e.copyright.p4.mrgb_peach
                            p= `© ${content.copyright}`                                      
                            