+b.HEADER.header.pt_orange.pb_orange
    .container
        +e.inner
            +e.item
                +b.logo(href="#")
                    img(src="images/logo/shopper.svg")
            +e.item    
                +b.location(class=""+(lang=='cn'?'cn':''))
                    +e.item.b3(class=""+(lang == 'ru'?'active':''),href="index.html") Ру
                    +e.item.b3(class=""+(lang == 'en'?'active':''),href="index_en.html") En
                    +e.item.b3(class=""+(lang == 'es'?'active':''),href="index_es.html") Es
                    +e.item.b3(class=""+(lang == 'fr'?'active':''),href="index_fr.html") Fr
                    if (lang!='cn')    
                        +e.item.b3(class=""+(lang == 'cn'?'active':''),href="index_cn.html") Cn
                if (lang!='cn')    
                    +b.hamburger.js-call-popup(data-popup={"target":"menu"})
                        +e.text.b3= (lang=='ru')?'меню':'menu'
                        hr
                        hr
    