-
    content = {
        title:"Lorem Ipsum",
        subtitle:"Lorem Ipsum is simply dummy text of the printing and typesetting"
    },
    content_en = {
        title:"Lorem Ipsum",
        subtitle:"Lorem Ipsum is simply dummy text of the printing and typesetting"
    },
    content_cn = {
        title:"Lorem Ipsum",
        subtitle:"Lorem Ipsum只是印刷和排版的伪文本"
    }
    
case lang
    when 'en'
        - content = content_en
    when 'es'
        - content = content_en
    when 'fr'
        - content = content_en    
    when 'cn'
        - content = content_cn
    default
        - content = content
    

+b.intro.js-scroll-anim.pt_blue.pb_brown
    .container
        +e.inner
            +e.img
                img(src="images/31234.jpg")
            +e.title
                h1= content.title
            +e.text.p1
                p= content.subtitle
            
            
