-
    list = {
        title:"'Content here, content here', making it look like readable English.",
        items:[
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
            ]
    },
    list_en = {
        title:"'Content here, content here', making it look like readable English.",
        items:[
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
            ]
    },
    list_cn = {
        title:"设备为测试各种机载设备提供成熟解决方案",
        items:[
                '使其看起来像可读的英语',
               '使其看起来像可读的英语',
               '使其看起来像可读的英语',
               '使其看起来像可读的英语',
               '使其看起来像可读的英语',
               '使其看起来像可读的英语',
               '使其看起来像可读的英语',
               '使其看起来像可读的英语',
               '使其看起来像可读的英语'
            ]
    },
    list_es = {
         title:"'Content here, content here', making it look like readable English.",
        items:[
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
            ]
    }
    ,
    list_fr = {
        title:"'Content here, content here', making it look like readable English.",
        items:[
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
                'making it look like readable English',
            ]
    }
    
case lang
    when 'en'
        - list = list_en
    when 'es'
        - list = list_es
    when 'fr'
        - list = list_fr    
    when 'cn'
        - list = list_cn
    default
        - list = list
+b.list.js-scroll-anim.pt_black.pb_brown
    .container
        +e.inner
            +e.title.mrgb_green
                h3= list.title
            +e.list
                each item,index in list.items
                    +e.item.p4.mrgb_yellow
                        p(style="transition-delay:"+(index*0.1)+"s")= item
                        .after(style="transition-delay:"+(index*0.1)+"s")
