-
    nav = [
        {
            title:"Lorem Ipsum",
            link:"#",
            submenu:[
                {
                    title:"Lorem Ipsum",
                    link:"#"
                },
                {
                    title:"Lorem Ipsum",
                    link:"#"
                },
                {
                    title:"Lorem Ipsum",
                    link:"#"
                },
                {
                    title:"Lorem Ipsum",
                    link:"#"
                },
                {
                    title:"Lorem Ipsum",
                    link:"#"
                }
            ]
        },
        {
            title:"Lorem Ipsum", 
            link:"#",
            submenu:[
                {
                    title:"",
                    link:""
                }
            ]
        },
        {
            title:"Lorem Ipsum",
            link:"#"
        }
        ,
        {
            title:"Lorem Ipsum",
            link:"#"
        }
        ,
        {
            title:"Lorem Ipsum",
            link:"#"
        }
    ],
    nav_en = [
        {
            title:"Lorem Ipsum",
            link:"#",
            submenu:[
                {
                    title:"Lorem Ipsum",
                    link:"#"
                },
                {
                    title:"Lorem Ipsum",
                    link:"#"
                },
                {
                    title:"Lorem Ipsum",
                    link:"#"
                },
                {
                    title:"Lorem Ipsum",
                    link:"#"
                },
                {
                    title:"Lorem Ipsum",
                    link:"#"
                }
            ]
        },
        {
            title:"Lorem Ipsum", 
            link:"#",
            submenu:[
                {
                    title:"",
                    link:""
                }
            ]
        },
        {
            title:"Lorem Ipsum",
            link:"#"
        }
        ,
        {
            title:"Lorem Ipsum",
            link:"#"
        }
        ,
        {
            title:"Lorem Ipsum",
            link:"#"
        }
    ],
    content = {
        ru:[
            {
                title:"Lorem Ipsum",
                content:"Lorem Ipsum is simply dummy</br><span class='icon-phone'>8 (0000) 000-000,</span><br/><span class='icon-fax'> 8 (0000) 000-0000</span><br/> <a class='icon-email' href='mailto:info@lorem.com'>info@lorem.com</a>"
                },
            {
                title:"Lorem Ipsum is simply dummy",
                content:"Lorem Ipsum is simply dummy</br><span class='icon-phone'>8 (0000) 000-000,</span><br/><span class='icon-fax'>8 (000) 000-0000</span><br/> <a class='icon-email' href='mailto:info@lorem.com'>info@lorem.com</a>"
            }
        ],
        en:[
            {
                title:"Lorem Ipsum",
                content:"Lorem Ipsum is simply dummy</br><span class='icon-phone'>8 (0000) 000-000,</span><br/><span class='icon-fax'> 8 (0000) 000-0000</span><br/> <a class='icon-email' href='mailto:info@lorem.com'>info@lorem.com</a>"
                },
            {
                title:"Lorem Ipsum is simply dummy",
                content:"Lorem Ipsum is simply dummy</br><span class='icon-phone'>8 (0000) 000-000,</span><br/><span class='icon-fax'>8 (000) 000-0000</span><br/> <a class='icon-email' href='mailto:info@lorem.com'>info@lorem.com</a>"
            }
        ]
    }
+b.NAV.nav
    .container
        +e.inner
            each item,index in (lang == 'ru')?nav:nav_en
                +e.item.b1(style="transition-delay:"+(0.5+index*0.3)+'s')
                    a(href = item.link?item.link:false)= item.title
                    if (item.submenu)
                        +e.submenu
                            each sitem,index in item.submenu
                                +e.suitem.b2(style="transition-delay:"+(index*0.1)+'s')
                                    a(href=sitem.link)= sitem.title
.container                                    
    +b.menucontacts.mrgt_green
        +e.contact-item
            +e.contact-title.p1.mrgb_peach
                p!= (lang == 'ru')?content.ru[0].title:content.en[0].title
            +e.contact-content.p4.mrgb_lilac
                p!=(lang == 'ru')?content.ru[0].content:content.en[0].content
        +e.contact-item
            +e.contact-title.p1.mrgb_peach
                p!=(lang == 'ru')?content.ru[1].title:content.en[1].title
            +e.contact-content.p4.mrgb_lilac
                p!= (lang == 'ru')?content.ru[1].content:content.en[1].content