- 
    news = {
        title:"Lorem Ipsum is simply",
        more:"Lorem Ipsum",
        items:[
            {
                day:"13",
                month:"05",
                year:"2019",
                title:"Lorem Ipsum is simply dummy text of the printing ",
                link:"#"
            },
            {
                day:"07",
                month:"03",
                year:"2019",
                title:"Lorem Ipsum is simply dummy text of the printing ",
                link:"#"
            }
        ]
    },
    news_en = {
        title:"Lorem Ipsum is simply",
        more:"Lorem Ipsum",
        items:[
            {
                day:"13",
                month:"05",
                year:"2019",
                title:"Lorem Ipsum is simply dummy text of the printing ",
                link:"#"
            },
            {
                day:"07",
                month:"03",
                year:"2019",
                title:"Lorem Ipsum is simply dummy text of the printing ",
                link:"#"
            }
        ]
    }

case lang
    when 'en'
        - news = news_en
    when 'cn'
        - news = news_en
    default
        - news = news

+b.news.js-scroll-anim.pt_black.pb_brown
    .container
        +e.inner
            +e.title.mrgb_green
                h2= news.title
           
            +e.content
                +b.news-list
                    +e.more.b3(href="#")= news.more
                    each item,index in news.items
                        +e.item(href=item.link)
                            +e.date(style="transition-delay:"+(index*0.2)+"s")
                                +e.day-month.h3= `${item.day}/${item.month}`
                                +e.year.h4= item.year
                            +e.title.h4
                                p= item.title
        
