-
    content = {
        title:"只是伪造印刷品和类型的文字",
        list:[
           '只是伪造印刷品和类型的文字', 
           '只是伪造印刷品和类型的文字', 
           '只是伪造印刷品和类型的文字', 
           '只是伪造印刷品和类型的文字', 
           '只是伪造印刷品和类型的文字', 
           '只是伪造印刷品和类型的文字', 
           '只是伪造印刷品和类型的文字', 
           '只是伪造印刷品和类型的文字', 
           '只是伪造印刷品和类型的文字', 
           '只是伪造印刷品和类型的文字'
        ]
    }

+b.orangelist.pt_black.pb_brown.mrgt_brown
    .container
        +e.inner
            +e.img
                img(src="images/1894.jpg")
            +e.side
                +e.title.mrgb_green
                    h2= content.title
                +e.content.p4.pt_lilac.pb_lilac.mrgb_lilac
                    ul
                        each item in content.list
                            li= item
            
        
