-
    feedback = {
        title:"Заказать обратный звонок",
        text:"Согласие на обработку персональных данных в соответствии с",
        form:[
            {                
                title:"Имя",
                placeholder:"",
                type:"text",
                mod:"",
                label:"Имя",
                name:"name"
            },
            {
                title:"Контактный телефон",
                placeholder:"+7-(___)-___-__-__",
                type:"text",
                mod:"userphone required",
                label:"Контактный телефон",
                name:"phone"
            }
        ]        
    }
.overlay.js-overlay(class="" + (popup ? " _active" : ""))

+b.popup-style._menu.js-popup.js-popup-menu(class="" + (popup === "callback" ? " _active" : ""))
    +e.content
        +b.header_menu.pt_lilac.pb_purple
            .container
                +e.inner
                    +e.item
                        +b.logo(href="#")
                            img(src="images/logo/shopper.svg")
                    +e.item    
                        +b.location_menu
                            +e.item.b3(class=""+(lang == 'ru'?'active':''),href="/") Ру
                            +e.item.b3(class=""+(lang == 'en'?'active':''),href="/en") En
                            +e.item.b3(class=""+(lang == 'es'?'active':''),href="/es") Es
                            +e.item.b3(class=""+(lang == 'fr'?'active':''),href="/fr") Fr
                            +e.item.b3(class=""+(lang == 'cn'?'active':''),href="/cn") Cn
                        +b.hamburger_menu.js-close-popup                        
                            hr
                            hr
        include nav                    

+b.popup-style._callback.js-popup.js-popup-callback(class="" + (popup === "callback" ? " _active" : ""))
    +e.content
        +b.cross-btn.js-close-popup
        +e.content-wrapper
            +b.feedback_popup
                .container
                    +e.inner
                        +e.side_left
                            h2= feedback.title
                            +e.text.p4.mrgt_yellow 
                                p !{feedback.text}
                                    a(href="#")  Политикой конфиденциальности
                        +e.side_right
                            +b.FORM.form.js-form-adjuster(action="server.php")
                                each item in feedback.form
                                    +input(item)
                                +btn({title:"Отправить",aftericon:"fa fa-paper-plane",button:true})               

+b.popup-style._thx.js-popup.js-popup-thx(class="" + (popup === "thx" ? " _active" : ""))
    +e.content
        +b.cross-btn._popup.js-close-popup
        +e.content-wrapper
            +e.img
                img(src="images/heart.svg",width="70",height="80")
            +e.p.title.h2 Спасибо, ваша заявка отправлена
            +e.p.subtitle.p3 Менеджер свяжется с вами в ближайшее время
