-
    products = {
        title:"Lorem Ipsum is simply",
        text:"Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing and typesetting",
        items:[
            {
                title:"Lorem Ipsum",
                image:"card-1.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#7AAAFD"
            },
            {
                title:"Lorem Ipsum",
                image:"card-2.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#97EEFF"
            },
            {
                title:"Lorem Ipsum",
                image:"card-3.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#FF3396"
            },
            {
                title:"Lorem Ipsum",
                image:"card-1.png",               
                color:"#FF2220"
            }
        ]
    },
    products_en = {
        title:"Lorem Ipsum is simply",
        text:"Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing and typesetting",
       items:[
            {
                title:"Lorem Ipsum",
                image:"card-1.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#7AAAFD"
            },
            {
                title:"Lorem Ipsum",
                image:"card-2.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#97EEFF"
            },
            {
                title:"Lorem Ipsum",
                image:"card-3.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#FF3396"
            },
            {
                title:"Lorem Ipsum",
                image:"card-1.png",               
                color:"#FF2220"
            }
        ]
    },
    products_cn = {
        title:"Lorem Ipsum只是印刷和排版的伪文本",
        text:"Lorem Ipsum只是印刷和排版的伪文本 Lorem Ipsum只是印刷和排版的伪文本",
        items:[
            {
                title:"Lorem Ipsum",
                image:"card-1.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#7AAAFD"
            },
            {
                title:"Lorem Ipsum",
                image:"card-2.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#97EEFF"
            }
        ]
    },    
    products_es = {
        title:"Lorem Ipsum is simply",
        text:"Lorem Ipsum is simply dummy text of the printing and typesetting ",
        items:[
            {
                title:"Lorem Ipsum",
                image:"card-1.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#7AAAFD"
            },
            {
                title:"Lorem Ipsum",
                image:"card-2.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#97EEFF"
            },
            {
                title:"Lorem Ipsum",
                image:"card-3.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#FF3396"
            },
            {
                title:"Lorem Ipsum",
                image:"card-1.png",               
                color:"#FF2220"
            }
        ]
    },    
    products_fr = {
        title:"Lorem Ipsum is simply",
        text:"Lorem Ipsum is simply dummy text of the printing and typesetting",
        items:[
            {
                title:"Lorem Ipsum",
                image:"card-1.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#7AAAFD"
            },
            {
                title:"Lorem Ipsum",
                image:"card-2.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#97EEFF"
            },
            {
                title:"Lorem Ipsum",
                image:"card-3.png",
                text:"sum is simply dummy text of the printing and typesetting Lorem Ipsum",
                color:"#FF3396"
            },
            {
                title:"Lorem Ipsum",
                image:"card-1.png",               
                color:"#FF2220"
            }
        ]
    }

case lang
    when 'en'
        - products = products_en
    when 'es'
        - products = products_es
    when 'fr'
        - products = products_fr    
    when 'cn'
        - products = products_cn
    default
        - products = products

+b.products.js-scroll-anim.js-paralax-scene.pt_black.pb_brown
    +e.gray.mrgt_lilac.js-paralax-item 
    .container
        +e.inner
            +e.side_left
                +e.title
                    h2= products.title
                +e.text.p2.mrgt_green
                    p= products.text                    
            +e.side_right
                +e.product-wrap
                    each item in products.items
                        +b.product-item.mrgb_blue(href="#")
                            if (item.image)
                                +e.DIV.img.mrgb_green(style="background-color:"+item.color)
                                    img(src="images/"+item.image)
                            if (item.title)    
                                +e.DIV.title.mrgb_peach
                                    h3= item.title
                            if (item.text)    
                                +e.DIV.text.p4
                                    p= item.text
                    