-
    scope = {
        title:"Lorem Ipsum is simply",
        items:[
            {
                title:"Lorem Ipsum is simply",
                listitem:[
                    [
                        'Lorem Ipsum is simply',
                        '— Lorem Ipsum',
                        '— Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply'
                    ]
                ]
            },
             {
                title:"Lorem Ipsum is simply",
                listitem:[
                    [
                        'Lorem Ipsum is simply',
                        '— Lorem Ipsum is simply',
                        '— Lorem Ipsum is simply',
                        '— Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply dummy text '
                    ]
                ]
            }
        ]
    },
    scope_en = {
        title:"Lorem Ipsum is simply",
        items:[
            {
                title:"Lorem Ipsum is simply",
                listitem:[
                    [
                        'Lorem Ipsum is simply',
                        '— Lorem Ipsum',
                        '— Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply'
                    ]
                ]
            },
             {
                title:"Lorem Ipsum is simply",
                listitem:[
                    [
                        'Lorem Ipsum is simply',
                        '— Lorem Ipsum is simply',
                        '— Lorem Ipsum is simply',
                        '— Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply dummy text '
                    ]
                ]
            }
        ]
    },
    scope_cn = {
        title:" Lorem Ipsum就是这样",
        items:[
            {                
                listitem:[
                    [
                        'Lorem Ipsum就是这样'
                    ],
                    [
                        'Lorem Ipsum就是这样'
                    ],
                    [
                        'Lorem Ipsum就是这样'
                    ]
                ]
            },
             {                
                listitem:[
                    [
                        'Lorem Ipsum就是这样'                       
                    ],
                    [
                        'Lorem Ipsum就是这样'
                    ]
                ]
            }
        ]
    },
    scope_es = {
       title:"Lorem Ipsum is simply",
        items:[
            {
                title:"Lorem Ipsum is simply",
                listitem:[
                    [
                        'Lorem Ipsum is simply',
                        '— Lorem Ipsum',
                        '— Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply'
                    ]
                ]
            },
             {
                title:"Lorem Ipsum is simply",
                listitem:[
                    [
                        'Lorem Ipsum is simply',
                        '— Lorem Ipsum is simply',
                        '— Lorem Ipsum is simply',
                        '— Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply dummy text '
                    ]
                ]
            }
        ]
    },
    scope_fr = {
       title:"Lorem Ipsum is simply",
        items:[
            {
                title:"Lorem Ipsum is simply",
                listitem:[
                    [
                        'Lorem Ipsum is simply',
                        '— Lorem Ipsum',
                        '— Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply'
                    ]
                ]
            },
             {
                title:"Lorem Ipsum is simply",
                listitem:[
                    [
                        'Lorem Ipsum is simply',
                        '— Lorem Ipsum is simply',
                        '— Lorem Ipsum is simply',
                        '— Lorem Ipsum is simply'
                    ],
                    [
                        'Lorem Ipsum is simply dummy text '
                    ]
                ]
            }
        ]
    }
    
case lang
    when 'en'
        - scope = scope_en
    when 'es'
        - scope = scope_es
    when 'fr'
        - scope = scope_fr    
    when 'cn'
        - scope = scope_cn
    default
        - scope = scope
+b.scope.js-scroll-anim.pt_black.pb_brown
    .container
        +e.inner
            +e.side_left.mrgb_lilac
                +e.title.mrgb_green
                    h2= scope.title
                +e.content.mrgb_lilac
                    each item in scope.items
                        +e.content-side
                            if (item.title)
                                +e.content-title.p1.mrgb_orange
                                    p= item.title
                            +e.UL.content-list.p4
                                each litem,index in item.listitem
                                    li
                                        .before(style="transition-delay:"+(index*0.2)+"s")
                                        each pitem in litem
                                            p= pitem
                                                  
            +e.side_right
                +e.img
                    img(src="images/1234445.jpg")
















