- 
    support = {
        title:"Lorem Ipsum has been the ind",
        subtitle:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s",
        items:[
            {
                image:"foto1.jpg",
                subscribe:"foto1"
            },
            {
                image:"foto2.jpg",
                subscribe:"foto2"
            },
            {
                image:"foto3.jpg",
                subscribe:"foto3"
            },
            {
                image:"foto4.jpg",
                subscribe:"foto4"
            },{
                image:"foto5.jpg",
                subscribe:"foto5"
            },
            {
                image:"foto6.jpg",
                subscribe:"foto6"
            },
            {
                image:"foto7.jpg",
                subscribe:"foto7"
            },
            {
                image:"foto8.jpg",
                subscribe:"foto8"
            },{
                image:"foto9.jpg",
                subscribe:"foto9"
            }
        ]
      },
    support_en = {
        title:"Lorem Ipsum has been the ind",
        subtitle:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s",
        items:[
            {
                image:"foto1.jpg",
                subscribe:"foto1"
            },
            {
                image:"foto2.jpg",
                subscribe:"foto2"
            },
            {
                image:"foto3.jpg",
                subscribe:"foto3"
            },
            {
                image:"foto4.jpg",
                subscribe:"foto4"
            },{
                image:"foto5.jpg",
                subscribe:"foto5"
            },
            {
                image:"foto6.jpg",
                subscribe:"foto6"
            },
            {
                image:"foto7.jpg",
                subscribe:"foto7"
            },
            {
                image:"foto8.jpg",
                subscribe:"foto8"
            },{
                image:"foto9.jpg",
                subscribe:"foto9"
            }
        ]
      } ,
      support_cn = {
        title:"设备可用于",
        subtitle:"设备可用于各种类型的直升机和飞机",         
        items:[
            {
                image:"foto1.jpg",
                subscribe:"foto1"
            },
            {
                image:"foto2.jpg",
                subscribe:"foto2"
            },
            {
                image:"foto3.jpg",
                subscribe:"foto3"
            },
            {
                image:"foto4.jpg",
                subscribe:"foto4"
            },{
                image:"foto5.jpg",
                subscribe:"foto5"
            },
            {
                image:"foto6.jpg",
                subscribe:"foto6"
            },
            {
                image:"foto7.jpg",
                subscribe:"foto7"
            },
            {
                image:"foto8.jpg",
                subscribe:"foto8"
            },{
                image:"foto9.jpg",
                subscribe:"foto9"
            }
        ]
      } ,
        support_es = {title:"Lorem Ipsum has been the ind",
        subtitle:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s",
        items:[
            {
                image:"foto1.jpg",
                subscribe:"foto1"
            },
            {
                image:"foto2.jpg",
                subscribe:"foto2"
            },
            {
                image:"foto3.jpg",
                subscribe:"foto3"
            },
            {
                image:"foto4.jpg",
                subscribe:"foto4"
            },{
                image:"foto5.jpg",
                subscribe:"foto5"
            },
            {
                image:"foto6.jpg",
                subscribe:"foto6"
            },
            {
                image:"foto7.jpg",
                subscribe:"foto7"
            },
            {
                image:"foto8.jpg",
                subscribe:"foto8"
            },{
                image:"foto9.jpg",
                subscribe:"foto9"
            }
        ]
      },       
        support_fr = {title:"Lorem Ipsum has been the ind",
        subtitle:"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s",
        items:[
            {
                image:"foto1.jpg",
                subscribe:"foto1"
            },
            {
                image:"foto2.jpg",
                subscribe:"foto2"
            },
            {
                image:"foto3.jpg",
                subscribe:"foto3"
            },
            {
                image:"foto4.jpg",
                subscribe:"foto4"
            },{
                image:"foto5.jpg",
                subscribe:"foto5"
            },
            {
                image:"foto6.jpg",
                subscribe:"foto6"
            },
            {
                image:"foto7.jpg",
                subscribe:"foto7"
            },
            {
                image:"foto8.jpg",
                subscribe:"foto8"
            },{
                image:"foto9.jpg",
                subscribe:"foto9"
            }
        ]
      }

case lang
    when 'en'
        - support = support_en
    when 'es'
        - support = support_es 
    when 'fr'
        - support = support_fr     
    when 'cn'
        - support = support_cn
    default
        - support = support

+b.support.js-scroll-anim.pt_black.pb_brown
    +e.gray.mrgt_lilac
    .container
        +e.inner
            +e.side_left
                +e.title.mrgb_green
                    h2= support.title
                +e.subtitle.mrgb_yellow
                    h3= support.subtitle
                +e.aerodots.js-altdots.p2
                    each item in support.items
                        span.js-altdot= item.subscribe
            +e.side_right
                +e.slider-wrap
                    +b.slider.js-slider
                        each sitem in support.items
                            +e.item.js-slide
                                img(src="images/air/"+sitem.image)
