-
    content = {
        items:[
            {
                title:"Lorem Ipsum就是这样",
                subtitle:"Lorem Ipsum就是这样",
                list:[
                    "Lorem Ipsum就是这样",
                    "Lorem Ipsum就是这样"
                ]
            },
            {
                title:"Lorem Ipsum就是这样",
                subtitle:"Lorem Ipsum就是这样",
                list:[
                    "膜片装置",
                    "高压模块",
                    "高功率单元",
                    "转换器",
                    "整流装置",
                    "模拟控制台",
                    "对讲机",
                    "监管、保护、管理、控制单元",
                    "模拟传感器、信号装置",
                    "航空陀螺仪"
                ]
            },
            {
                title:"Lorem Ipsum就是这样",
                subtitle:"Lorem Ipsum就是这样",
                list:[
                    "自动驾驶设备",
                    "机载飞行数据记录设备",
                    "数字指示器",
                    "数字控制台",
                    "空气信号系统"
                ]
            }
        ]
    }
    

+b.yellowlist.pt_black.pb_brown
    .container
        +e.inner.pt_green.pb_green
            each item in content.items
                +e.item
                    +e.title.p1.mrgb_orange
                        p= item.title
                    +e.subtitle.p2.mrgb_orange
                        p= item.subtitle
                    +e.list.p4
                        each pitem in item.list
                            p.mrgb_peach= `— ${pitem}`
        
