.clients {
    &__inner {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
    }
    &__content {
        width: 100%;        
        flex-shrink: 0;
    }
    &__title {
        padding-right: 100px;
    }
    @include media_800 {
        &__title {
            padding-right: 57px;
        }
        
    }
    @include media_650 {
        &__inner {
            flex-direction: column;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-start;
        }
        &__title {
            margin-bottom: 25px;
        }
        &__content {
            width: 100vw;
        }
    }
    @include media_450 {
        
    }
}

.clientslider {
    width: 100%;
    .slick-track {
        display: flex;
        align-items: stretch;
        align-content: stretch;
        justify-content: flex-start;
    }
    &__item {
        height: auto !important;
        padding-left: 50px;
        padding-right: 50px;
        display: flex !important;
        align-items: center;
        align-content:center;
        justify-content: center;
        flex-direction: column;
        border-left: 1px solid $gray2;
        img {
            max-width: 100%;
            max-height: 90px;
            filter:grayscale(1);
        }
    }
    @include media_800 {
        &__item {
            padding-left: 30px;
        padding-right: 30px;
        }
    }
}