

.footer {
    &__inner {
        background: $darkblue;
    }
    &__belt {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        &_bottom {
            padding-left: 10%;
            padding-right: 10%;
            justify-content: space-between;
        }
    }
    &__logo {
        position: relative;
        top: -1px;
        max-height: 50px;
        img {
            position: relative;
            left: -4px;
            height: 50px;
        }
    }
    &__item {
        width: 21%;
        color: $white;
        a {
            color:  $orange;
            margin-bottom: 0;
        }
        * {
            margin-bottom: 3px;
            &:before {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }
    &__copyright {
        color: $gray2;
    }
    @include media_1600 {
        &__item {
            width: 30%;
        }
    }
    @include media_1100 {
        &__logo {
            height: 40px;
        }
    }
    @include media_800 {
        &__belt {
            flex-wrap: wrap;
            &_top {
                margin-bottom: 30px;
            }
        }
        &__title {
            margin-bottom: 30px;
        }
        &__item {
            width: 50%;
            padding-right: 30px;
            &:last-child {
                width: 100%;
                margin-top: 30px;
            }
        }
        &__item & {
            &__content {
                display: flex;
                align-items: flex-start;
                align-content: flex-start;
                justify-content: space-between;
            }
        }
        &__copyright {
            width: 50%;
        }
    }
    @include media_650 {
        &__logo {
            height: 28px;
        }
    }
    @include media_500 {
        &__belt {
            &_bottom {
                flex-direction: column;
            }
        }
        &__item {
            width: 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        &__item & {
            &__content {
                display: block;                
            } 
        }
        &__copyright {
            width: 100%;
        }
    }   
    @include media_450 {
        &__item {
            padding-right: 0;
        }
    }
}