.header {
    &__inner {
        width: 100%;
        display: flex;
        align-items: stretch;
        align-content: center;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include media_500 {
        &_menu & {
            &__inner {
                flex-direction: column-reverse;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            &__item {
                justify-content: space-between;
                &:last-child {
                    width: 100%;
                    
                }
                &:first-child {
                    margin-top: 20px;
                }
            }
        }
    }
}

.logo {
    height: 57px;
    img {
        height: auto;
        max-height: 100%;
    }
    @include media_1600 {
        height: 50px;
    }
    @include media_1100 {
        height: 40px;
    }
    @include media_650 {
        height: 28px;
    }
}
.location {
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    height: 50px;
    margin-right: 50px;
    &.cn {
        display: flex !important;
    };
    &__item {
        position: relative;
        height: 50px;   
        width: 50px;
        transition: $default_transition;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        color: $darkblue;
        &.active,&:hover {
            background: $gray1;
            transition: $default_transition;
        }
    }
    &_menu & {
        &__item {
            color: $white;
            &.active,&:hover {
                background: $darkblue2;
            }
        }
    }
    &_menu {
        display: flex !important;
    }
    @include media_500 {
        display: none;
    }
}