.intro {
    color: $white;
    
    &__inner {
        //background: url(../images/top-image.jpg);
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 200% 200%;
        height: 520px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        width: 0;
        padding-left: 0%;
        padding-right: 0%;
        transition: 1s cubic-bezier(0,-0.02,.32,1.05);
        position: relative;
    }
    &__img {
        transition: 1s ease-out;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(1.1);       
        img {
             object-fit: cover;
        }
    }
    &._active & {
        &__inner {           
            transition: 1s cubic-bezier(0,-0.02,.32,1.05);
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
        }
        &__img {
            transition: 2s ease-out;
           transform: translate(-50%,-50%) scale(1);       
        }
        &__title {
            * {
                transform: translateY(0%);
                transition: 0.4s ease-out 2s;
            }
        }
        &__text {
            * {
                transform: translateY(0%);
                transition: 0.4s ease-out 2s;
            }
        }
    }
    &__text {
        max-width: 700px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        * {
            transform: translateY(100%);
            transition: 0.4s ease-out 0s;
        }
    }
    &__title {
        position: relative;
        z-index: 2;
        overflow: hidden;
        * {
            transform: translateY(100%);
            transition: 0.4s ease-out 0s;
        }
    }
    @include media_1600 {
        &__text {
            max-width: 570px;
        }
        
    }
    @include media_1100 {
        &__inner {
            height: 363px;
        }
        &__text {
            max-width: 50%;
        }
    }
    @include media_800 {
        &__inner {
            height: 400px;
        }
        &__text {
            max-width: none;
        }
    }
    @include media_650 {
        &__inner {
            height: 300px;
        }
    }
}