.list {
    counter-reset: section;
    &__inner {
        position: relative;
        &:before {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $gray1;
            transform: translate(30%,0);
            content: '';            
        }
    }
    &__title {
        max-width: 550px;
        position: relative;
        overflow: hidden;
        * {
            transition: 1s ease-out;
            transform: translateY(100%);
        }
    }
    &__list {
        display: flex;
        align-items: flex-start;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
    }
    &__item {
        counter-increment: section;
        position: relative;
        width: calc(100% / 3);
        padding-left: 70px;
        padding-right: 20px;
        padding-top: 3px;
        min-height: 40px;
        overflow: hidden;
        
        p {
            transition: 1s ease-out;
            transform: translateY(300%);
        }
        &:before {
            position: absolute;
            top: 4px;
            left: 10px;
            display: block;
            width: 40px;
            height: 40px;
            background: $gray2;
            content:'';
        }
        .after {
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 0px;
            height: 32px;
            background-image: url(../images/check.svg);
            background-size: 42px 32px;
            background-repeat: no-repeat;
            background-position: 0% center;            
            transition: 1s ease-out;            
        }
    }
    &._active & {
        &__title {            
            * {
                transition: 1s ease-out;
                transform: translateY(0%);
            }
        }
        &__item {
            
            p {
                transition: 1s ease-out;
                transform: translateY(0%);
            }
            .after {
                transition: 1s ease-out;
                width: 42px;
            }
        }
    }
    @include media_1600 {
        &__title {
            max-width: 500px;
        }
        &__list {
            padding-right: 0;
        }
    }
    @include media_1100 {
        &__item {
            width: 50%;
        }
        &__list {
            padding-left: 0;
        }
        &__inner {
            &:before {
                width: 100vw;
                left: 50%;
                height: 110%;
                transform: translate(-50%, -5%);
            }
        }
    }
    @include media_800 {
       
    }
    @include media_650 {
        
        &__list {
            padding-left: 30px;
        }
        &__item {
            width: 100%;
            padding-right: 0;
            .after {
                background-size: 26px 20px;                
                height: 20px;               
            }
            &:before {
                width: 24px;
                height: 24px;
                top: 2px;
                left: 5px;
            }
        }
        &._active & {        
            &__item {
                .after { 
                    transition: 1s ease-out;
                    width: 26px;
                }
            }
        }
    }
    @include media_450 {
        &__list {
            padding-left: 0px;
        }
    }
}