.nav {
    flex: 1 0 auto;
    $this:&;
    .container {
        height: 100%;
    }
    &__inner {
        height: 100%;
        position: relative;
        padding-left: 10%;
        padding-right: 10%;
        border-bottom: 1px solid $darkblue2;
    }
    &__item {
        width: 60%;
        color: $lightblue2;
        transition: opacity 0.3s ease-in 0s;
        opacity: 0;
        pointer-events: none;
        height: 0;
        overflow-y: hidden;
        >a {
            color: inherit;
            position: relative;
            transition:$default_transition;
            &:before {
                transition: $default_transition;
                position: absolute;
                bottom: 0;
                left: -4px;
                width: 0;
                height: 55%;
                background: $orange;
                content:'';
                z-index: -1;
            }
        }
        &:hover,&._active {
            
            >a {
                color: $white;
                transition:$default_transition;
                &:before {                   
                    transition: $default_transition;
                    width: calc(100% + 8px);
                } 
            }
            #{$this}__submenu {
                opacity: 1;
                pointer-events: auto;
                transition: $default_transition;
            }
            #{$this}__suitem {
               opacity: 1;
               transform: translateX(0);
               transition: $default_transition;
            }
        }
    }
    &__submenu {
        position: absolute;
        right: 0;
        top: 0;
        width: 44%;
        color: $orange;
        opacity: 0;
        pointer-events: none;
        transition: $default_transition;
        overflow: auto;
        overflow-x: hidden;
        max-height: calc(100% - 30px);
        @include customScroll;
        a {
            transition: $default_transition;
            color: inherit;
            &:hover {
                transition: $default_transition;
                color: $white;
            }
        }
            
    }
    &__suitem {
        transition: $default_transition;
        margin-bottom: 29px;
        opacity: 0;
        transform: translateX(20%);
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include media_700 {
        &__submenu {
            display: none;
        }
        &__item {
            width: 100%;
        }
    }
}
.menucontacts {   
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: flex-start;   
    &__contact-item {
        width: calc(100% / 2.5);
        margin-bottom: 3px;
        padding-right: 50px;
        color: $white;
        a {
            color: $orange;
        }
    }
    &__contact-content {
        line-height: 1.4;
        span:before,a:before {
            margin-right: 5px;
        }
    }
    @include media_800 {
        &__contact-item {
            width: 50%;
        }
    }
    @include media_650 {
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        &__contact-item {
            width: 100%;
            padding-right: 0;
        }
    }
}

._active {
    .nav {
        &__item {
            transition: $default_transition;
            opacity: 1;
            pointer-events: auto;
            height: 74px;
        }
        @include media_1600 {
            &__item {
                height: 67px;
            }
        }
         @include media_1100 {
            &__item {
                height: 60px;
            }
        }
         @include media_800 {
            &__item {
                height: 51px;
            }
        }
         @include media_650 {
            &__item {
                height: 46px;
            }
        }
    }
}