.news {
    &__title {
        overflow: hidden;
        * {
            transition: 1s ease-out;
            transform: translateY(100%);
        }
    }
    &._active &{
         &__title {
            * {
                transition: 1s ease-out;
                transform: translateY(0%);
            }
        }
    }
}

.news-list {
    position: relative;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    &__item {
        width: 50%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        align-content: center;
        overflow: hidden;
    }
    &__date {
        height: 100%;
        display: flex;
        align-items: stretch;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        text-align: left;
        background: $orange;
        transform: translateX(-100%);
        transition: 1s ease-out;
    }
    &__day-month {
        color: $white;
    }
    &__year {
         color: $darkblue;
    }
    &__title {
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
        color: $darkblue;
        overflow: hidden;
        * {
            transition: 1s ease-out;
            transform: translateY(100%);
        }
    }
    &__more {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0,-30px);
        color: $darkblue;
        &:after {
            transition: 1s ease-out 1s;
            width: 0px;
            height: 2px;
            margin-top: 9px;
            margin-bottom: 9px;
            background: $darkblue;
            display: block;            
            content: ''
        }
        &:before {
            position: absolute;
            right: -2px;
            bottom: 4px;
            transition: 1s ease-out ;
            transform: scale(0);
            border-left: 11px solid $darkblue;
            border-top: 6px solid rgba(255,255,255,0);
            border-bottom: 6px solid rgba(255,255,255,0);
            content: '';
            transform-origin: 100% 50%;
        }
    }
    .news._active & {
        &__date {
            transform: translateX(0%);
            transition: 1s ease-out;
        }
        &__title {
            * {
                transition: 1s ease-out;
                transform: translateY(0%);
            }
        }
        &__more {
            &:after {
                width: 90px;
                transition: 1s ease-out;
            }
            &:before {
                transition: 1s ease-out 1s;
                transform: scale(1)
            }
        }
    }
    @include media_1100 {
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        &__item {
            width: auto;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__date {
            min-width: 90px;
            padding: 13px;
        }
        &__more {
            top: 24%;
        }
        &__title {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    @include media_800 {
        &__more {
            top: 43%;
        }
        &__date {
            min-width: 88px;
            padding: 12px;
        }
         &__title {
            padding-left: 30px;
            padding-right: 100px;
        }
    }
    @include media_650 {
        &__more {
            top: calc(100% + 45px);
        }
        &__title {
            padding-left: 20px;
            padding-right: 0px;
        }
        &__date {
            min-width: 60px;
            padding: 5px;
        }
    }
}