.orangelist {
    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        align-content: center;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 58%;
        height: 100%;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__side {
        width: 58%;
        z-index: 2;
        position: relative;
    }
    &__title {
        text-align: right;
    }
    &__content {
        position: relative;
        background: $orange;
        padding-left: 5%;
        ul {
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
                width: 50%;                
                padding-right: 8%;
                padding-top: 8px;
                padding-bottom: 15px;
                padding-left: 46px;
                position: relative;
                &:before {
                    width: 24px;
                    height: 20px;
                    position: absolute;
                    top: 0;
                    left: -2px;
                    background-image: url(../images/check.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    content: '';
                }
            }
        }
        &:after {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 100%;
            top:0;
            content: '';
            background: inherit;
        }
    }
    @include media_1100 {
         Ul {
                flex-direction: column;
                li {
                    width: 100%;
                }
            }
            &__title {
                padding-left: 30px;
                padding-bottom: 10px;
                background: $white;
            }
    }
    @include media_800 {
        &__content {
            li {
                padding-left: 36px;
                &:before {
                    width: 18px;
                    height: 14px;
                    
                }
            }
           
        }
    }
    @include media_650 {
        &__inner {
            flex-direction: column-reverse;
            align-items: stretch;
            align-content: center;
            justify-content: flex-start;
            
        }
        &__side {
            width: 100%;
        }
        &__content {
            width: 100%;
            &:after {
                display: none;
            }
        }
        &__img {
            position: relative;
            width: 100%;
            height: auto;
        }
    }
}

