.overlay,
.popup-style {
    z-index: 101;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.5s ease;
    width: 100%;
    height: 100%;

    &._active {
        transform: translateX(0);
    }
}

.overlay {
    transition-delay: 0.1s;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX(-105%);

    &._active {
        transition-delay: 0s;
    }
}

.popup-style {
    background-color: transparent;
    transform: translateX(-105%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    pointer-events: none;
    padding: 0;
    height: 100%;

    &._active {
        transition-delay: 0.1s;
    }
    .cross-btn {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2
    }
    &__content {
        position: relative;
        box-sizing: border-box;
        overflow: auto;
        background-color: $white;
        pointer-events: auto;
        width: 100%;
        max-width: 1200px;
        max-height: 100%;
        padding: 77px 50px 106px;
    }
    &__content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    &__title {
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 3px;
        line-height: 1.17;
        text-transform: none;
    }
    &__text-wrapper {
        margin-top: 55px;
        max-width: 550px;
    }
    &__subtitle {
        margin-top: 58px;
        color: $black;
        font-weight: 700;
        letter-spacing: 2px;
    }
    &__title + &__subtitle {
        margin-top: 20px;
    }
    &_callback & {
        &__content {
            padding: 0;            
        }
    }
    &_thx {
        .cross-btn {
            //background-color: $cyan;
            &:before,&:after {
                background-color: $white;
            }
        }
        .h2 {
            margin-top:26px;
            margin-bottom: 20px;
        }
    }
    &_menu &{
        &__content {
            padding: 0;
            background: none;
            max-width: none;
            height: 100%;
            display: flex;
            align-items: stretch;
            align-content: center;
            justify-content: space-between;
            flex-direction: column;
        }
    }
    &_menu {
        background: $darkblue;
    }
}
.form-style {
    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: 292px;
        margin: 63px auto 0;
    }
    &__item {
        margin-top: 37px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__btn-wrapper {
        max-width: 415px;
        margin: 74px auto 0;
    }
    .btn-style {
        &__wrapper {
            padding: 5px 25px;
        }
    }
    &__additional {
        margin-top: 35px;
        text-align: center;
        color: $black;
        font-family: $montserrat;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1.2px;
        line-height: 1.17;
    }
    @include media_600 {
        &__column {
            margin-top: 40px;
        }
        &__btn-wrapper {
            margin-top: 45px;
        }
        &__additional {
            margin-top: 15px;
        }
    }
}
.popup-about-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 40px;

    &__item {
        cursor: pointer;
        margin-bottom: 18px;
        color: #0ab9e1;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1.6px;
        &:after {
            content: "\e908";
            transition: 0.3s ease;
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
            font-family: $icon;
            font-weight: 100;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            &:after {
                transform: translateX(3px);
            }
        }
    }
    @include media_600 {
        margin-top: 20px;
        &__item {
            margin-bottom: 12px;
            letter-spacing: 0.2px;
            font-size: 14px;
        }
    }
}
.popup-video {
    width: 100%;
}
