.products {
    position: relative;
    &__gray {
        position: absolute;
        left: 0;
        top: 30px;
        height: 45%;
        width: 66%;
        background: $gray1;
        
    }
    &__inner {
         display: flex;
         align-items: stretch;
         align-content: stretch;
         justify-content: space-between;
    }
    &__text {
        color: $darkgray;
        overflow: hidden;
        * {
            transition: 1s ease-out;
            transform: translateY(100%);
        }
    }
    &__title {        
        overflow: hidden;        
        * {
            transition: 1s ease-out;
            transform: translateY(100%);
        }
    }
    &__side {
        &_right {
            width: 59%
        }
        &_left {
            width: 34%;
        }
    }
    &__product-wrap {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;        
    }
    
    &._active & {
        &__title {
            * {
                transition: 1s ease-out;
                transform: translateY(0%);
            }
        }
        &__text {
            * {
                transition: 1s ease-out;
                transform: translateY(0%);
            }
        }
        
    }
    &._active {
        .product-item {
            &__title {
                overflow: hidden;        
                * {
                    transition: 1s ease-out;
                    transform: translateY(0%);
                }
            }
            &__text {
                overflow: hidden;        
                * {
                    transition: 1s ease-out;
                    transform: translateY(0%);
                }
            }
        }
    }
    @include media_1100 {
        &__gray {
            width: 100%;
        }
        &__inner {
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
        }
        &__side {
            &_left {
               width: 73%;
               margin-bottom: 40px;
            }
            &_right {
                 width: 85%;
            }
        }
    }
    @include media_800 {
        &__side {
            &_left {
               width: 100%;
               margin-bottom: 30px;
            }
            &_right {
                 width: 100%;
            }
        }
    }
    @include media_450 {
        &__product-wrap {
            flex-direction: column;
            align-items: center;
            align-content: center;
            
        }
    }
}
.product-item {
    width: calc((100% - 20px) / 2);
    max-width: 400px;
    &:nth-last-child(2),&:nth-last-child {
        margin-bottom: 0;
    }
    &__img {
        padding-bottom: 100%;
        position: relative;
        transition: $default_transition;
        overflow: hidden;
        img {
            transition: $default_transition;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(1);
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__title {
        color: $darkblue;
        overflow: hidden;        
        * {
            transition: 1s ease-out;
            transform: translateY(100%);
        }
    }
    &__text {
        color: $darkgray;
        overflow: hidden;        
        * {
            transition: 1s ease-out;
            transform: translateY(100%);
        }
    }
    &:hover & {
        &__img {
            background-color: $darkblue !important;
            transition: $default_transition;
            img {
                transition: $default_transition;
                transform: translate(-50%,-50%) scale(1.1);
            }
        }
    }
    @include  media_1600 {
        max-width: 287px; 
    }
    @include media_450 {
        width: 100%;
    }
}

.product-page {
    
}