.scope {
    overflow: hidden;
    min-height: 650px;
    &__inner {
        position: relative;
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: space-between;
    }
    &__side {
        position: relative;
        &_left {
            z-index: 2;
            width: 100%;
        }
        &_right {
            z-index: 1;
        }
    }
    &__img {
        position: absolute;
        right: 0;
        top: 0;
        //width: 58.7%;
        padding-bottom:69%;    
        img {
            max-width: 50vw;
        }
    }
    &__content {
        width: 59%;
        position: relative;        
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        &:before {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0,-50%);
            padding-top:108px;
            padding-bottom:108px;
            background: $gray1;
            box-sizing: content-box;
            width: 100vw;
            height: 100%;
            content: '';
        }
        li {
            padding-top: 8px;
            padding-bottom: 15px;
            padding-left: 46px;
            position: relative;
            .before {
                width: 0px;
                height: 20px;
                position: absolute;
                top: 0;
                left: -2px;
                background-image: url(../images/check.svg);
                background-size: 24px 20px;
                background-repeat: no-repeat;
                background-position: left center;
                transition: 1s ease-out;
                content: '';
            }
        }
    }
    &__content-side {
        width: 50%;
        padding-right:70px;
        position: relative;
        z-index: 1;
    }
    &__title {
        max-width: 550px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        * {
            transition: 1s ease-out;
            transform: translateY(100%);
        }
    }
    &._active & {
        &__title {
            * {
                transition: 1s ease-out;
                transform: translateY(0%);
            }
        }
        &__content {
            li {
                .before {
                    transition: 1s ease-out;
                    width: 24px;
                }
            }
        }
    }
    @include media_1600 {
        &__title {
        max-width: 530px;
        }
        &__side {
            margin-bottom: 0;
        }
        &__content {
            flex-direction: column;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-start;
            margin-bottom: 0;
            &:before {
                height: 70px;
                top: 13%;
            }
        }
        &__content-side {
            padding-right: 0;
            //width: 100%;
            margin-bottom: 43px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__img {
            height: 458px;
            img {
                max-height: 100%;
            }
        }
    }
    @include media_1100 {
        &__title {
            max-width: 320px;
        }
        &__img {
            width: 48vw;
            padding-bottom: 480px;
            height: auto;            
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__content {
            position: relative;
            &:before {
                top: -5%;
                height: 100%;
                transform: translate(0%,0%);
            }
        }
        &__content-side {
            width: 80%;
        }
    }
    @include media_800 {
        &__img {
            width: 39vw;
             img {
                max-width: 100%;
            }
        }
        &__content {            
            li {
                padding-left: 36px;
                .before {
                    width: 0px;
                    height: 14px;
                    
                }
            }
        }
    }
    @include media_650 {
        &__inner {
            flex-direction: column;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-start;
           
        }
         &__side {
            &_left {
                width: 100%;
                margin-bottom: 0;
            }
            &_right {
                width: 100%;
            }
        }
        &__img {
            position: static;
            top: 0;
            left: 0;
            width: 100%;
            padding-bottom: 100%;
            height: auto;
        }
        &__content {
            width: 100%;
            &:before {
                width: 100%;
                padding-bottom: 0;
            }
        }
        &__content-side {
            width: 100%;
            padding-left: 30px;
        }
    }
    @include media_450 {
        &__content {   
            margin-bottom: 40px;
            margin-top: 20px;
            
            &:before {
                width: 100vw;
                left: 50%;
                top: -2%;
                transform: translate(-50%,0);
                padding-top: 10px;
            }
        }
        &__content-side {
            padding-left: 0;
        }
    }
}
