.support {
    position: relative;
    &__gray {
        position: absolute;
        left: 0;
        top: 30px;
        height: 67%;
        width: 100%;
        background: $gray1;
    }
    &__inner {
        display: flex;
        align-items: stretch;
        align-content: center;
        justify-content: space-between;
    }
    &__side {
        &_left {
            width: 52%;
            max-width: 550px;
        }
        &_right {
            width: 48%;
        }
    }
    &__slider-wrap {
        width: 100%;
        height: auto;
        padding-bottom: 100%;
        position: relative;
        .slider {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        .slick-list,.slick-track {
            height: 100%;
        }
        
    }
    &__title,&__subtitle {
        overflow: hidden;
        * {
            transition: 1s ease-out;
            transform: translateY(100%);
        }
    }
    &__aerodots {
        color: $darkblue;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        justify-content:  flex-start;
        flex-wrap: wrap;
        overflow: hidden;
        * {
            transition: 1s ease-out;
            transform: translateY(100%);
        }
        span {
            margin-right: 20px;
            cursor: pointer;
            position: relative;
            &:before {
                z-index: -1;
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 7px;                
                background: $orange;
                width:0;
                transition: $default_transition;
                content: '';
            }
            &._active {
                &:before {
                    width:100%;
                    transition: $default_transition;
                }
            }
        }
        
    }
    @include media_1100 {
        &__inner {
            flex-direction: column;
            
        }
        &__side {
                &_left {
                    width: 73%;
                    margin-bottom:48px;
                }
                &_right {
                    width:87%;
                }
            }
            &__slider-wrap {
                padding-bottom: 70%;
            }    
    }
    @include media_1100 {
        &__inner {
            flex-direction: column;
            
        }
        &__side {
                &_left {
                    width: 100%;
                    margin-bottom:30px;
                    max-width: 650px;
                }
                &_right {
                    width:100%;
                }
            }
    }
    @include media_800 {
        &__gray {
            top: 0px;
            height: 100%;
        }
    }
    @include media_450 {
        &__slider-wrap {
            padding-bottom: 100%;
        }  
        &__aerodots {
            span {
                margin-right: 8px;
            }
        }
    }
    &._active &{
        &__aerodots,&__title,&__subtitle {
            overflow: hidden;
            * {
                transition: 1s ease-out;
                transform: translateY(0%);
            }
        }
    }
   
}

.slider {
    @include slider-preload(&);
    &__item {
        transform-origin: 0 0;
        overflow: hidden;
        //transform: scaleY(0);
        transition: 0.5s ease-out;
        img {
            transition: 0.5s ease-out;
            transform: scale(1.1);
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &.slick-active {
            //transform: scaleY(1);
                transition: 0.5s ease-out;
                img {
                    transition: 0.5s ease-out;
                    transform: scale(1);
                }
        }
    }
}