.yellowlist {
    &__inner { 
        position: relative;
        background: $yellow;
        padding-right: 30px;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: space-between;
        &:before {
           width: 100%;
           height: 100%;
           background-color: inherit;
           position: absolute;
           top: 0;
           right: 100%;
           content: '';
           display: block;
        }
    }
    &__item {
        width: calc(100% / 3);
        padding-right: 10px;
    }
    @include media_800 {
        &__inner {
            flex-wrap: wrap;
        }
        &__item {
            width: 50%;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @include media_650 {
        &__inner {
            padding-left: 5%;
            &:before {
                display: none;
            }
        }
    }
    @include media_450 {
        &__item {
            width: 100%;
        }
    }
}