extends ../layout.pug
block variables   
    -
        lang = 'en'
block content
    include ../modules/intro
    include ../modules/products
    include ../modules/support
    include ../modules/list
    include ../modules/scope
    include ../modules/clients
    include ../modules/news
