extends ../layout.pug
block variables   
    -
        lang = 'cn'
block content
    include ../modules/intro
    include ../modules/products
    include ../modules/support
    include ../modules/list
    include ../modules/scope
    include ../modules/orangelist
    include ../modules/yellowlist
    include ../modules/clients    
