extends ../layout.pug
block variables

block content
    h1 h1
    h2 h2
    h3 h3
    h4 h4
    p.nav1 nav1
    p.nav2 nav2
    p.b1 b1
    p.b2 b2
    p.p1 p1
    p.p2 p2
    p.p3 p3
    p.p4 p4
    p.p5 p5
    p.p6 p6
    p.price1 price1
    p.price2 price2
    p.price3 price3
    
