include ../../node_modules/bemto.pug/bemto
include mixins/head
include mixins/mixins

doctype html

block variables
    - breadcrumbs = false
    - lang

html(lang='en')
    +head('Example')

    body
        .content
            include modules/header
            if (breadcrumbs)
                +b.breadcrumbs.mrgt_redorange.p5
                    each item in breadcrumbs
                        +e.item(href=item.link?item.link:false)= item.title
            block content
    
        include modules/footer
        include modules/popups

        script(src="js/bundle.js")