$white: #fff;
$black: #808080;
$darkblue:#276f74;
$darkblue2:#276f74;
$darkgray:#252728;
$gray1:#eee;
$gray2:#ddd;
$lightblue:adjust-hue(#C8EBFF,0deg);
$blue:#97E6FF;
$lightblue2:adjust-hue(#7ABBFD,-60deg);
$orange:#80b7ff;
$yellow:adjust-hue(#FFE296,60deg);




