@import "mixins";
@import "../plugins/mixin-object-fit";

$default_transition: 0.3s ease-out;

html {
    overflow-x: hidden;
}
body {
   font-family: $montserrat,'Arial Black','Helvetica CY','Nimbus Sans L',sans-serif;
   overflow-x: hidden;
   color:$black;
/*    @include media_min-1400-max-1800 {
        zoom: .8;
        
    }*/
}

.content {
    width: 100%;
    //overflow: hidden;
}

.container {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto; 
    padding: 0 10px;
    width: 100%;
    max-width: 1600px;
    @include media_1600 {
        max-width: 1138px;
    } 
    @include media_1100 {
        max-width:800px 
    }
    @include media_800 {
        max-width:640px 
    }
    @include media_650 {
        max-width: 100%
    }
    @include media_450 {
        max-width: 260px;
    }
}



.hide,
.input-hidden {
    display: none;
}
/*****text style*******/
h1,.h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 1.22;
    &_inner {       
        font-size: 82px;
        text-transform: none;
        h1 {
            @extend .h1_inner
        }
    }
    &_news {        
        font-size:44px;
        text-transform: none;
        h1 {
            @extend .h1_news
        }
    }
    @include media_1600 {       
        font-size: 150px;
        &_inner {
            font-size: 72px;
            h1 {
                font-size: inherit;
            }
        }
        &_news {
            font-size: 44px;
            h1 {
                font-size: inherit;
            }
        }
    }
    @include media_1100 {        
        font-size: 96px;  
        &_inner {
            font-size: 60px;
            h1 {
                font-size: inherit;
            }
        }
        &_news {
            font-size: 34px;
            h1 {
                font-size: inherit;
            }
        }
    }
    @include media_800 {
        font-size: 90px;
        &_inner {
            font-size: 50px;
            h1 {
                font-size: inherit;
            }
        }
        &_news {
            font-size: 24px;
            h1 {
                font-size: inherit;
            }
        }
    }
    @include media_650 {
        font-size: 36px;
        &_inner {
            font-size: 30px;
            h1 {
                font-size: inherit;
            }
        }
        &_news {
            font-size: 18px;
            h1 {
                font-size: inherit;
            }
        }
    }
}
h2,.h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 1.22;
    &_inner {
        font-size: 56px;
        line-height: 1.55;
        h2 {
                font-size: inherit;
            }
    }
    @include media_1600 {       
        font-size: 48px;  
        &_inner {
            font-size: 40px;
            line-height: 1.22;
            h2 {
                    font-size: inherit;
                }
        }
    }
    @include media_1100 {        
        font-size: 36px; 
        &_inner {
            font-size: 36px;            
            h2 {
                    font-size: inherit;
                }
        }
        
    }
    @include media_800 {
        font-size: 30px;
        &_inner {
            font-size: 30px;            
            h2 {
                    font-size: inherit;
                }
        }
    }
    @include media_650 {
        font-size: 22px;
        &_inner {
            font-size: 24px;            
            h2 {
                    font-size: inherit;
                }
        }
    }
}
h3,.h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 1.22;
    @include media_1600 {       
        font-size: 24px;        
    }
    @include media_1100 {        
        font-size: 22px;        
    }
    @include media_800 {
        font-size: 20px;
    }
    @include media_650 {
        font-size: 18px;
    }
}
h4,.h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    @include media_1600 {       
        font-size: 20px;        
    }
    @include media_1100 {        
        font-size: 18px;        
    }
    @include media_800 {
        font-size: 16px;
    }
    @include media_650 {
        font-size: 12px;
    }
}
.p1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    @include media_1100 {       
        font-size: 19px;        
    }
    @include media_650 {        
        font-size: 16px;        
    } 
}
.p2 {    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.72;
    @include media_1100 {       
        font-size: 16px;        
    }
    @include media_650 {       
        font-size: 13px;        
    }
}
.p3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    @include media_1400 {
        font-size: 15px;        
    }
    @include media_750 {
        font-size: 13px;
    }
}
.p4 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;    
    @include media_650 {       
        font-size: 12px;        
    }

}
.b1 {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 1.21;   
    @include media_1600 {       
        font-size: 48px;        
    }
    @include media_1100 {        
        font-size: 40px;        
    }
    @include media_800 {
        font-size: 34px;
    }
    @include media_650 {
        font-size: 24px;
    }
     
}
.b2 {    
    font-style: normal;
    font-weight:900;
    font-size: 24px;
    line-height: 1.2;      
    @include media_1100 {        
        font-size: 20px;        
    }
    @include media_800 {
        font-size: 16px;
    }
    @include media_650 {
        font-size: 15px;
    }
}
.b3 {    
    font-style: normal;
    font-weight:700;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.075em;
    @include media_650 {       
        font-size: 10px;        
    }
}

/************/
/*****margin/padding styles*******/

@mixin indents($color,$value) {
    .padd {
        &_#{$color} {
            padding-top: $value;
            padding-bottom: $value;
        }
    }
    .pt {
        &_#{$color} {
            padding-top: $value;            
        }
    }
    .pb {
        &_#{$color} {            
            padding-bottom: $value;
        }
    }
    .mrg {
        &_#{$color} {
            margin-top: $value;
            margin-bottom: $value;
        }
    }
    .mrgt {
        &_#{$color} {
            margin-top: $value;            
        }
    }.mrgb {
        &_#{$color} {            
            margin-bottom: $value;
        }
    }
}

@each $color,$value in (redorange,10px),
                        (peach,20px),
                        (orange,30px),
                        (yellow,40px),
                        (green,50px),
                        (lightblue,60px),
                        (blue,70px),
                        (purple,80px),
                        (lilac,100px),
                        (brown,80px),
                        (black,60px),
                        (fuctia,20px){
    @include  indents($color,$value)                     
    
} 

@include media_1600 {

    @each $color,$value in (redorange,10px),
                        (peach,10px),
                        (orange,20px),
                        (yellow,30px),
                        (green,40px),
                        (lightblue,50px),
                        (blue,60px),
                        (purple,80px),
                        (lilac,90px),
                        (brown,70px),
                        (black,50px),
                        (fuctia,20px){
    @include  indents($color,$value)                     
    
} 
    
}

@include media_1100
{

    @each $color,$value in (redorange,10px),
                        (peach,10px),
                        (orange,20px),
                        (yellow,30px),
                        (green,40px),
                        (lightblue,50px),
                        (blue,50px),
                        (purple,80px),
                        (lilac,70px),
                        (brown,50px),
                        (black,30px),
                        (fuctia,20px){
    @include  indents($color,$value)                     
    
} 
    
}

@include media_800 {

    @each $color,$value in (redorange,10px),
                        (peach,10px),
                        (orange,20px),
                        (yellow,30px),
                        (green,30px),
                        (lightblue,50px),
                        (blue,40px),
                        (purple,80px),
                        (lilac,60px),
                        (brown,40px),
                        (black,20px),
                        (fuctia,20px){
    @include  indents($color,$value)                     
    
} 
    
}
@include media_450 {

    @each $color,$value in (redorange,10px),
                        (peach,10px),
                        (orange,20px),
                        (yellow,20px),
                        (green,20px),
                        (lightblue,50px),
                        (blue,30px),
                        (purple,70px),
                        (lilac,40px),
                        (brown,30px),
                        (black,30px),
                        (fuctia,20px){
    @include  indents($color,$value)                     
    
} 
    
}


/****************/
.pseudo-hidden {
    position: absolute;
    left: -200vw;
    opacity: 0;
    z-index: -999;
    pointer-events: none;
    overflow: hidden;
    transform: scale(0);
}

.object-fit-wrap {
    position: relative;
    transition: 0.4s ease;
    display: block;
    width: 100%;

    &:after {
        content: "";
        display: block;
        padding-top: 50%;
    }

    &__img-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    &__img,
    svg {
        width: 100%;
        height: 100%;
        margin: auto;

        @include object-fit(cover, center);
    }

    &_contain & {
        &__img,
        svg {
            @include object-fit(contain, center);
        }
    }

    &_catalog & {
        &__img-wrapper {
            height: 100%;
        }
    }
}




.input-style {
    position: relative;
    padding:20px 42px 0 42px;
    width: 100%;
    &__label {
        position: relative;
        pointer-events: none;
        transition: 0.3s ease;
        margin-bottom:10px;
        color: $white;    
        
    }    
    &__input {
        display: block;
        background-color: transparent;
        resize: none;
        height: 100%;
        width: 100%;
        padding: 20px 0px 20px 0;
        transform: translateY(-20px);
        color: $white;  
        &::placeholder {
            
        }
    }   

    &__input._active ~ &,
    &__input:active ~ &,
    &__input:focus ~ & {
        &__label {
            //transform: translateY(-27px);
            color: $white;
        }
        &__line {
            &:after {
                transform: translateX(0);
            }
        }
    }
}

.hamburger {
    width:40px;
    height:45px;
    position:relative;
    cursor:pointer;
    transition:$default_transition;
    hr {
        border:none;
        outline:none;
        position:absolute;
        width:100%;
        height:4px;
        background:$darkblue;
        top:50%;
        left:0;
        transform:translate(0,-50%);
        &:last-child {
            top:auto;
            bottom:0;
        }
    }
    
    
    &_menu {
        hr {
            background:$white;
            left:50%;
            transform:translate(-50%,-50%) rotate(45deg);
            &:last-child {
                top:50%;
                bottom:auto;
                transform:translate(-50%,-50%) rotate(-45deg);
            }
        } 
        
    }
    &:hover {
        color:$orange;
        transition:$default_transition;
    }
    @include media_650 {
        height: 32px;
        width:32px;
    }
}

.checkbox-style {
    position:relative;
    &__input {
        position:absolute;
        diplay:block;
        top:0;
        left:0;
        width:100%;
        height:100%;
        cursor:pointer;
        background:none;
    }
    &__indicator {
        margin-right:10px;       
        opacity:1;
        color:$gray2;
        transition:$default_transition;
    }
    &__label {}
    
    &__input:checked ~ & {
        &__indicator {
            
            opacity:1;
            transition:$default_transition;
        }
    }
}

.radio-style {
    position:relative;  
    margin-left:5px;
    margin-right:5px;
    margin-bottom:10px;
    &__input {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        cursor:pointer;
        background:none;
    }
    &__indicator {
        width:25px;
        height:25px;
        border-radius:50%;
        overflow:hidden;
        box-shadow:0 0 0 2px $white;
        transition:$default_transition;
        display:block;
        
    }
    &__icon {
        display:block;
        width:100%;
        height:100%;
    }
    
    &__input:checked ~ & {
        &__indicator {
            box-shadow:0 0 0 2px $white,0 0 0 4px $gray2;
        }
    }
}

.titleblock {
    position:relative;
    &:before {
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:calc(100% / 12 * 11);
        background:$gray1;
        content:'';
    }
}

.breadcrumbs {
    display:flex;
    align-items:center;
    align-content:center;
    justify-content:flex-start;
    &__item {
        color:$black;
        transition:$default_transition;
    }
    &__separator {
        margin-left:4px;
        margin-right:4px;
    }
    a {
        &:hover {
            color:$orange;
            transition:$default_transition;
        }
    }
}