$montserrat: "Montserrat";
$icon: "icomoon";

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-black-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-black-webfont.woff') format('woff'),
         url('../fonts/montserrat-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-thin-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-thin-webfont.woff') format('woff'),
         url('../fonts/montserrat-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}



@font-face {
    font-family: $icon;
    src: url("../fonts/icomoon.eot?pacvvq");
    src: url("../fonts/icomoon.eot?pacvvq#iefix") format("embedded-opentype"),
        url("../fonts/icomoon.ttf?pacvvq") format("truetype"),
        url("../fonts/icomoon.woff?pacvvq") format("woff"),
        url("../fonts/icomoon.svg?pacvvq#icomoon") format("svg");
    font-weight: normal;
    font-display: block;
    font-style: normal;
}


[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: $icon;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-arrow2:before {
  content: "\e901";
}
.icon-telephone:before {
  content: "\e91c";
}
.icon-email:before {
  content: "\e902";
}
.icon-fax:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e905";
}
.icon-place:before {
  content: "\e906";
}
