@mixin media_pre-mobile1000 {
    @media only screen and (max-width: 1000px) {
        @content;
    }
}

@mixin media_1750 {
    @media all and (max-width: 1750px) {
        @content;
    }
}
@mixin media_min-1750 {
    @media only screen and (min-width: 1751px) {
        @content;
    }
}
@mixin media_from-1750-to-1300 {
    @media all and (max-width: 1750px) and (min-width: 1301px) {
        @content;
    }
}

@mixin media_1650 {
    @media all and (max-width: 1650px) {
        @content;
    }
}

@mixin media_1600 {
    @media all and (max-width: 1600px) {
        @content;
    }
}

@mixin media_1500 {
    @media all and (max-width: 1500px) {
        @content;
    }
}

@mixin media_min-1500 {
    @media all and (min-width: 1500px) {
        @content;
    }
}
@mixin media_1400 {
    @media all and (max-width: 1400px) {
        @content;
    }
}
@mixin media_min-1400-max-1800 {
    @media all and (min-width: 1400px) and (max-width: 1800px) {
        @content;
    }
}

@mixin media_1450 {
    @media all and (max-width: 1450px) {
        @content;
    }
}

@mixin media_1350 {
    @media all and (max-width: 1350px) {
        @content;
    }
}
@mixin media_1300 {
    @media all and (max-width: 1300px) {
        @content;
    }
}
@mixin media_1200 {
    @media all and (max-width: 1200px) {
        @content;
    }
}

@mixin media_min-1300 {
    @media all and (min-width: 1301px) {
        @content;
    }
}

@mixin media_from-1300-to-900 {
    @media all and (max-width: 1300px) and (min-width: 901px) {
        @content;
    }
}

@mixin media_1200 {
    @media all and (max-width: 1200px) {
        @content;
    }
}

@mixin media_1100 {
    @media all and (max-width: 1100px) {
        @content;
    }
}

@mixin media_1000 {
    @media all and (max-width: 1000px) {
        @content;
    }
}

@mixin media_950 {
    @media only screen and (max-width: 950px) {
        @content;
    }
}

@mixin media_900 {
    @media only screen and (max-width: 900px) {
        @content;
    }
}

@mixin media_min-900 {
    @media only screen and (min-width: 901px) {
        @content;
    }
}
@mixin media_800 {
    @media only screen and (max-width: 800px) {
        @content;
    }
}

@mixin media_min-800 {
    @media only screen and (min-width: 801px) {
        @content;
    }
}

@mixin media_750 {
    @media only screen and (max-width: 750px) {
        @content;
    }
}

@mixin media_700 {
    @media only screen and (max-width: 700px) {
        @content;
    }
}

@mixin media_min-700 {
    @media only screen and (min-width: 701px) {
        @content;
    }
}

@mixin media_650 {
    @media only screen and (max-width: 650px) {
        @content;
    }
}

@mixin media_600 {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin media_550 {
    @media only screen and (max-width: 550px) {
        @content;
    }
}

@mixin media_500 {
    @media only screen and (max-width: 500px) {
        @content;
    }
}

@mixin media_450 {
    @media only screen and (max-width: 450px) {
        @content;
    }
}

@mixin show_on_600 {
    @include media_min-600 {
        display: none !important;
    }
}
@mixin hide_on_600 {
    @include media_600 {
        display: none !important;
    }
}

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    margin: auto;
}

@mixin slider-preload($root, $item-name: "item") {
    &:not(.slick-initialized) {
        opacity: 0;

        #{$root}__#{$item-name}:not(:first-child) {
            display: none;
        }
    }
}

@mixin customScroll {
    &::-webkit-scrollbar{
            width: 5px;
            height: 5px;

        }

    &::-webkit-scrollbar-track {
        background-color: rgba(255,255,255,0);
        border-left: 1px solid  rgba(255,255,255,0);;
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out
    }

    &::-webkit-scrollbar-thumb{
        background-color: $orange;
        border-radius: 2px;
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out
    }

    &::-webkit-scrollbar-thumb:hover{
        background-color: $orange;
    }
}
