mixin head (title)
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="robots",content="noindex, nofollow")
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=10;IE=edge')
        meta(name='format-detection', content='telephone=no')
        meta(name='format-detection', content='address=no')
        title= title
        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        link(rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(rel='stylesheet', type='text/css', href='css/style.css')