mixin btn(obj)
    if !obj.anchor
        if obj.button
            +b('button').btn-style(class="" + (obj.mod ? obj.mod : ""))
                +btn_content(obj)
        else
            if obj.href
                +b.btn-style(class="" + (obj.mod ? obj.mod : ""),data-popup=(obj.data ? JSON.stringify(obj.data) : undefined),href=obj.href,title=obj.title,target=obj.target)
                    +btn_content(obj)
            else
                +b.btn-style(class="" + (obj.mod ? obj.mod : ""),data-popup=(obj.data ? JSON.stringify(obj.data) : undefined))
                    +btn_content(obj)
    else
        +b.btn-style.js-navigation-item.js-btn(class="" + (obj.mod ? obj.mod : ""),href=(obj.href ? obj.href : "#"),title=obj.title,data-anchor=(obj.anchor ? obj.anchor : undefined),target=(obj.href ? "_blank" : undefined))
            +btn_content(obj)

mixin btn_content(obj)
    +e.SPAN.wrapper.js-round-hover
        +e.before.js-round-before
        +e.SPAN.label.b1(data-text=obj.title)
            if (obj.beforeicon)
                i(class=obj.beforeicon)
            span= obj.title
            if (obj.aftericon)
                i(class=obj.aftericon)

mixin input(obj)
    -
        tag = obj.tag ? obj.tag : 'input'
        title = obj.title ? obj.title : ''
        placeholder = obj.placeholder ? obj.placeholder : ''
        max_length = obj.max_length ? obj.max_length : ''

    +b.input-style(class=obj.wrap_mode ? obj.wrap_mode : "")
        if obj.label
            +e.SPAN.label.p3=obj.label
        +e(tag).input.p1(class=" " + (obj.mod ? obj.mod : ""),type=(obj.type ? obj.type : "text"),name=obj.name,data-title=title, placeholder=placeholder, maxlength=max_length,autocomplete="off")
        
        

mixin object_fit(obj)
    +b.object-fit-wrap(class="" + (obj.mod ? obj.mod : ""))
        +e.img-wrapper
            if obj.picture
                picture
                    each item in obj.picture
                        source(srcset=item.source,media=item.media)
                        if obj.slider
                            +e.IMG.img(src=obj.lazy ? undefined : obj.src,alt="",data-lazy=obj.lazy ? obj.src : undefined)
                        else
                            +e.IMG.img.js-object-fit(class=obj.lazy ? "js-lazy-load" : "",src=obj.lazy ? undefined : obj.src,alt="",data-url=obj.lazy ? obj.src : undefined)
            else
                if obj.slider
                    +e.IMG.img(src=obj.lazy ? undefined : obj.src,alt="",data-lazy=obj.lazy ? obj.src : undefined)
                else
                    +e.IMG.img.js-object-fit(class=obj.lazy ? "js-lazy-load" : "",src=obj.lazy ? undefined : obj.src,alt="",data-url=obj.lazy ? obj.src : undefined)

mixin discount_tag(obj)
    +b.discount-tag
        +e.tag._lower
            +e.triangle
            +e.content
        +e.tag
            +e.triangle
            +e.content
                +e.P.text!=obj.text
                
mixin merch-preview(obj)
    +b.merch-preview
        +e.img.mrgb_green(href="card.html")
            +object_fit({src:obj.img?obj.img:'images/logo_noimage.jpg'})
        +e.title.h4.mrgb_orange(href="card.html")= obj.title
        +e.detail
            +e.sku.p5 арт. !{obj.sku}
            +e.price.b1 !{obj.price}
                i.fa.fa-rub
        +e.dopinfo.mrgt_redorange(class=((obj.colors && obj.colors.length) ||(obj.size && obj.size.length))?'':'hide')
            +e.label
                +e.coloricon(class=(obj.colors && obj.colors.length)?'':'hide')
                +e.size.p5(class=(obj.size && obj.size.length)?'':'hide') 
                    if (obj.size && obj.size.length)
                       | !{obj.size[0]} - !{obj.size[obj.size.length - 1]}
            +e.dopdetail.mrgt_orange
                if (obj.colors && obj.colors.length)
                    +e.colordetai.mrgb_peach
                        each color,index in obj.colors
                            a(href="card.html",style="background:"+color,class=(index == 0)?'active':false) 
                if (obj.size && obj.size.length)
                    +e.sizedetail.p5
                        each size,index in obj.size                            
                            a(href="card.html",class=(index == 0)?'active':false)= size 
                            
            
mixin slider_counter(mod)
    +b.slider-counter(class="" + (mod ? mod+" js-slider-counter p1" : "js-slider-counter p1"))
        +e.current.js-slider-counter-current
        span /
        +e.total.js-slider-counter-total        
        
mixin counter(obj)
    +b.counter-block(class="" + (obj.mod ? obj.mod : "") + (obj.disabled ? "_disabled" : "") + " js-counter-block")
        +e.change.js-counter-arrow.js-less
        +b.input.p2
            +e('input').field.js-counter-input.js-number-only.js-card-quant(type='text', name=obj.name, value=obj.val ? obj.val : 1,maxlength=obj.length ? obj.length : 3,data-max=obj.max ? obj.max : 999, data-title="Количество" readonly)
        +e.change._plus.js-counter-arrow.js-more    
mixin h1title(obj)
    +b.h1title.pt_blue.pb_lightblue(class=""+(obj.mod)?obj.mod:'')
        h1= obj.title
                
mixin pagination
    -
        pagination = ['1','2','3','...','28']
    +b.pagination
        +e.item_first.fa.fa-arrow-left(href="#")
        each item,index in pagination
            +e.item.b1(href="#",class=(index==0)?' _active':'')= item
        +e.item_last.fa.fa-arrow-right(href="#")    
        

mixin checkbox(obj)
    +b.checkbox-style(class="" + (obj.mod_wrap ? obj.mod_wrap : ""))
        +e.INPUT.input(type="checkbox",name=obj.name,value=obj.label,class="" + (obj.mod ? obj.mod : ""),data-title=(obj.title ? obj.title : undefined))
        +e.SPAN.indicator
            +e.I.icon.fa.fa-check
        +e.SPAN.label.p4=obj.label

mixin radio(obj)
    +b.radio-style(class="" + (obj.mod_wrap ? obj.mod_wrap : ""))
        +e.INPUT.input(type=obj.type?obj.type:"radio",name=obj.name,value=obj.label,class="" + (obj.mod ? obj.mod : ""),data-title=(obj.title ? obj.title : undefined),checked=obj.checked?"checked":undefined)
        +e.SPAN.indicator
            if (obj.img)
                +e.img(src=obj.img)
            else
                if (obj.color) 
                    +e.I.icon(style="background:"+obj.color)
                else
                    +e.I.icon
                
        if obj.label        
            +e.SPAN.label=obj.label 

        
mixin merchslider(obj)
    +b.bestseller.pt_lightblue
        .cntainer
            h2= obj.title
            +e.inner.mrgt_green.js-merchslider
                each item in obj.items
                    +merch-preview(item)
mixin select(obj)
    +b.select-module.js-select-module.js-body-click-close
        if obj.label
            +e.label.h4=obj.label
                if obj.required
                    span *
        +e.input-container.h4.js-select-module-container
            +e('select').select.js-select-module-select(name=obj.name)
                each item in obj.options
                    option(value=item.value)=item.title
            +e.SPAN.text-block.js-select-module-text-block
        +e.dropdown
            +e.scroll.p3.js-select-module-scrollbar.js-select-module-options    
mixin filtercheckbox(obj)
    +b.filtercheckbox
        +e.INPUT.input(type="checkbox",name=obj.name)
        +e.label.h4= obj.title

mixin breadcrumbs(obj)
    +b.breadcrumbs.p4.mrgb_fuctia
        each item,index in obj
            +e.item(href=item.link?item.link:false)= item.title
            if (index < obj.length-1)
                +e.separator /
        

mixin titleblock(obj)
    +b.titleblock.pt_blue.pb_blue
        .container
            +e.breadcrumbs
                +breadcrumbs(obj.breadcrumbs)
            +e.text-wrap.h1_inner
                h1= obj.title
            